:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  --background: 0 0% 100%;
  --foreground: 222.2 84% 4.9%;
  --rootColor :#c289c7b9
}

body{
color: white;
background-color: #0a0a0a;
margin: 0;
padding: 0;
box-sizing: border-box;
height: 100%;
    width: 100%;
    overflow-x: hidden;
    
}
*::selection{
  background:#c289c7b9;
  color:#333;
}

html{
  font-size: 62.5%;
  /* overflow-x: hidden; */
  scroll-behavior: smooth;
}

html::-webkit-scrollbar{
  width:1.4rem;
}

html::-webkit-scrollbar-track{
  background:rgb(61, 58, 58);
}

html::-webkit-scrollbar-thumb{
  background:#c289c7b9;
}


*{
  cursor: none !important;
  text-decoration: none;
  outline: none;
   border:none;
  text-transform: capitalize;
  transition: all .2s linear;
}
a{
  outline: none;
  text-decoration: none!important;
  color: inherit;
  cursor: pointer !important; 
}



.fa-linkedin{
  color: #0a66c2;
}
.fa-github{
  color: white;
}
.fa-facebook{
  color: #4267B2;
}
.fa-instagram{
  color:  palevioletred;
}
.fa-c{
  color: #4267B2;

}
.fa-node{
  color: green;
}
.fa-database{
  color: greenyellow;
}
.fa-html5{
  color: #f06529;
}
.fa-css3-alt{
  color: #2965f1;
}
.fa-js{
  color: yellow;
}
.fa-react{
  color: #61DBFB;
}
.fa-git-alt{
 color: #F1502F;
}

.typing{
    font-size: 24px;
   
}
.marquee{
  padding: 1rem;
  margin: 1rem;
}
.marqueeImg{
  padding: 0 8rem;
  width: 25vw;
  height: 30vh;
  border-radius: 1rem;
}
.marqueetext{
  padding: 0 10rem;
}

.marqueeIcon{
  padding: 0 2rem;
  display: flex;
  gap: 20rem;
  font-size: 3rem;
opacity: .4;
}

.typing{
  text-align: center;
    height: 70px;
    font-size: 2rem;
}
.quote{
  text-align: center;
  height: 130px;
  font-size: 2rem;
  opacity: .6;
}
.profileImage{
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.profile{
  height: 40vh;
  width: 20vw;
  border-radius: 20rem;
  margin: 2rem;
  /* overflow: hidden; */
  cursor: pointer;
  border: 2px solid #c289c7b9;
  text-align: center;
  box-shadow: #c289c7b9 -5px 5px 15px ;

}
.profile:hover{
  transform: scale(1.06);


}
.about{
  text-align: center;
  font-size: 4rem;
  border-top: 1px solid var(--rootColor);
 padding-top: 3rem;
}
.react-terminal-line{
  padding:1rem ;
}

.react-terminal-line:nth-child(odd){
  color: var(--rootColor);
}
.react-terminal-wrapper {
  background: #000000!important;
  width : 60% !important;
  margin : 2rem !important;
}
.terminal-wraper{
display: flex;
justify-content: center;
}

.content{
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
.infos{
  display: flex;
  justify-content: space-around;
}
.heading{
  text-decoration: underline;
  opacity: .6;
  margin-right: 5rem;
}
.infos>a{
  padding: 1rem;
  font-size: 1.4rem;
}
.infos>a:hover{
color: var(--rootColor);
}

.fa-brands , .fas{
  margin: 0 1rem;
}
.headColor{
  color: var(--rootColor);
}
.nodejs{
  color: #215732;
}
.css{
 color: #264de4
}
.mongodb{
 color:  #4DB33D
}
/* .hr{
  border: none;
  border-left: 2px solid #fff; 
  height: 150px; 
  margin-left: 36px;
} */
.experineceInner{
  flex-direction: column;
}

.expImg{
  border-radius: 100rem;
  width: 90px;
  margin: 0 1rem;
}
.exp{
  display: flex;
}
.contactInfo{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

}
.gokuDiv{
display: flex;
justify-content: center;
width: 50%;
}
.gokuImg{
  height: 60vh;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 2s infinite  alternate;
  margin: 2rem;
}


@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
.inputBox{
  padding: 1rem;
  background: transparent;
  outline: auto;
  width: 30vw;
  margin: 1rem 3rem;
  color: white;
}
.contactInput{
  display: flex;
  flex-direction: column;
  justify-content:baseline;
  text-align: center;
}
.contactBtn{
align-self: center;
text-align: center;
}
.btn:active{

  transform: translateY(6px);
}





#feel{
  margin: 1.5rem;
  opacity: .6;
  text-align: center; 

}
.expDetail {
  display: flex;
  justify-content: center; 
  margin: 20px 0; 
}

.experineceInner {
  display: flex;
  align-items: center; 
  justify-content: flex-start;
  width: 100%;
  max-width: 800px; 
  padding: 20px; 
  border: 1px solid rgba(255, 255, 255, 0.1); 
}





.exp h1 {
  font-size: 18px; 
  margin: 0;
}

.description {
  margin-top: 10px; 
  font-size: 14px; 
}

ul.description li {
  line-height: 1.5; 
}
.loading{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
/* opacity: .6; */
}

.error{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  align-content: center;
height: 100vh;
}
.errorImg{
  border-radius: 1rem;
  box-shadow: #c289c7b9 5px 15px 1000px ;

}
.errorHeading{
  font-size: 3rem;
}
.errorDesc{
  font-size: 1.5rem;
  font-style: italic;
}
.upload{
  width: 20px;
  height: 20px;
}
.dashboard{
  text-align: center;
  font-size: 3rem;
 /* padding-top: 3rem; */
}
.btns{
  display: flex;
  justify-content: space-evenly;
   align-items: center;
}
.adminBtns{
  margin: 2rem;
}
table{
  margin: 3rem;
  border-collapse: collapse;

 width: 97%;
 text-align: center;
}
 td,  th {
  border: 1px solid #ddd;
  padding: 8px;
  font-size: 1.2rem;
}
tr:nth-child(even){background-color: #333;}
th {
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 1.5rem;
  text-align: left;
  background-color: var(--rootColor);
  color: white;
text-align: center;
}
.dash-img{
  width: 5vw
}
.dashboard-img{
 font-size: 1.7rem;
}
.select{
  color: #000000;
}
.addProject{
  display: flex;
  /* justify-content: center; */
}
#addProject{
 right: 50%;
}
input[type="date"]::-webkit-calendar-picker-indicator {
  background: #fff;
  border: none;
  border-radius: 2rem;
  color: transparent;
}